Source: frida
Section: python
Priority: optional
Maintainer: Cyril Brulebois <cyril@debamax.com>
Build-Depends:
 debhelper-compat (= 13),
 quilt,
 dh-python,
 python3-all-dev,
 curl,
 git,
 npm,
Standards-Version: 4.2.0
Homepage: https://frida.re/

Package: frida
Architecture: amd64 arm64 armhf i386
Depends:
 ${misc:Depends},
 ${python3:Depends},
 python3-colorama,
 python3-prompt-toolkit,
 python3-pygments,
 ${shlibs:Depends},
Description: dynamic instrumentation toolkit for reverse-engineering
 FIXME: Long description.
