#! /usr/bin/make -f

DEB_HOST_MULTIARCH := $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

# arm64 and armhf require a crossbuild (and names match between Debian
# and the upstream build system); amd64 requires an explicit native
# build (and names differ):
FRIDA_ARCH := $(shell dpkg --print-architecture | sed 's/amd64/x86_64-thin/')
PYTHON     := python-linux-$(FRIDA_ARCH)
TOOLS      := tools-linux-$(FRIDA_ARCH)
DIR        := build/frida_thin-linux-$(subst -thin,,$(FRIDA_ARCH))

export HOME := $(CURDIR)/.fakehome

export PYBUILD_NAME=frida
%:
	dh $@ --with quilt,python3 --buildsystem=none

override_dh_auto_build:
	$(MAKE) $(PYTHON)
	$(MAKE) $(TOOLS)

override_dh_auto_install:
	mkdir -p debian/frida/usr
	cp -r $(DIR)/* debian/frida/usr
	mkdir -p debian/frida/usr/lib/$(DEB_HOST_MULTIARCH)
	mv debian/frida/usr/lib/pkgconfig debian/frida/usr/lib/$(DEB_HOST_MULTIARCH)

override_dh_python3:
	dh_python3 --no-ext-rename

override_dh_clean:
	$(MAKE) clean
	dh_clean build/ .fakehome/
