#! /usr/bin/make -f

export HOME := $(CURDIR)/.fakehome

%:
	dh $@ --with quilt,python3 --buildsystem=makefile

override_dh_auto_install:
	dh_auto_install
	# Move files around:
	mv debian/frida/$(CURDIR)/subprojects/frida-core/vapi/frida-core-1.0.deps debian/frida/usr/share/vala/vapi/
	mv debian/frida/$(CURDIR)/subprojects/frida-core/vapi/frida-core-1.0.vapi debian/frida/usr/share/vala/vapi/
	# Clean empty, intermediary directories (stripping the leading slash):
	cd debian/frida && rmdir -p $(CURDIR:/%=%)/subprojects/frida-core/vapi/
	# Adjust pkg-config file accordingly:
	sed 's,$(CURDIR)/subprojects/frida-core/vapi,/usr/share/vala/vapi,' -i debian/frida/usr/lib/$(shell dpkg-architecture -qDEB_HOST_MULTIARCH)/pkgconfig/frida-core-1.0.pc

# See https://github.com/PiRogueToolSuite/deb-frida/issues/2
override_dh_auto_test:
	@echo "Skipping test suite for the time being."

override_dh_auto_clean:
	rm -rf build/

override_dh_clean:
	dh_clean deps/ $(HOME)/
	git submodule foreach --recursive git clean -xdf
